.search__form{
   width: 100%;
   display: block;
   margin-top: 2rem;

   .input__group{
      position: relative;
      width: 100%;

      &--icon{
         position: absolute;
         width: 2rem;
         height: 1.5rem;
         fill: $color-secondary;
         top: calc(50% - .75rem);
         left: 1.2rem;
         z-index: 2;
      }
      &--input{
         width: 100%;
         padding: 1.2rem;
         padding-left: 4rem;
         border-radius: 1.2rem;
         border: 0;
         background: $color-input-bg;
         font-size: 16px;
         font-weight: 500;
         font-family: inherit;
      }
   }
}